<%- include("../partials/header") %> 
<title>Error</title>
</head>
<body>
<%- include("../partials/navbar") %> 
<div class="errorpage d-flex flex-column justify-content-center align-items-center text-center" style="height:70vh">
<img src="/images/Cross.png" alt="" width="100px" height="100px" class="my-2">
<h5><%=status%></h5>
<h5>Error Occured...</h5>

<a href="/">Return to Home Page</a>
</div>
<%- include("../partials/footer") %>
<script>
    
</script>